html {
    height: 100%;
    width: 100%;
    font-family:monospace;
}

body {
    background-color: #010101;
    color: #025B18;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#chat-history {
    border: #025B18 1px solid;
    color: #1FC742;
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.chat-message-system {
    font-weight: bolder;
}

.chat-message-broadcaster {
    text-align: left;
}

.chat-message-receiver {
    text-align: right;
}

.success::after {
    content: "✓";
}